# NYC Apartment Search

### Group Members: Ting Lei, Diwen Shi

## Setup

In [1]:

import json
import pathlib
import os

import geoalchemy2 as gdb
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import requests
import shapely
import sqlalchemy as db
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

DATA_DIR = "data"
ZIPCODE_DATA_FILE = DATA_DIR + "/nyc_zipcodes.shp"
ZILLOW_DATA_FILE = DATA_DIR + "/zillow_rent_data.csv"

NYC_DATA_APP_TOKEN = "Swia3cwdHIaSCmkBJBrjXKYaf"
BASE_NYC_DATA_URL = "https://data.cityofnewyork.us/"
NYC_DATA_311 = BASE_NYC_DATA_URL + f"resource/erm2-nwe9.csv?$$app_token={NYC_DATA_APP_TOKEN}&$select=created_date,incident_zip,latitude,longitude,complaint_type&$where=created_date BETWEEN '2022-10-01T00:00:00.000' AND '2023-09-30T23:59:59.999'&$limit=999999999"
NYC_DATA_TREES = BASE_NYC_DATA_URL + f"api/views/5rq2-4hqu/rows.csv?$$app_token={NYC_DATA_APP_TOKEN}"
NYC_DATA_311_FILE = DATA_DIR + "/311.csv"
NYC_DATA_TREE_FILE = DATA_DIR + "/tree.csv"


DB_NAME = "DataEda"
DB_USER = "postgres"
DB_PW = "postgres" # password
DB_URL = f"postgresql+psycopg2://{DB_USER}:{DB_PW}@localhost:5432/{DB_NAME}"
DB_SCHEMA_FILE = "schema.sql"
# directory where DB queries for Part 3 will be saved
QUERY_DIR = "queries"

os.makedirs(DATA_DIR, exist_ok=True)
os.makedirs(QUERY_DIR, exist_ok=True)

## Part 1: Data Preprocessing

In [ ]:
def download_311_tree_data():
    """
    This is a function to download data programmatically.

    If 311/tree file directory does not exist, this function will create a new file 
    under this directory using request method.

    Parameters:
    Does not have any parameters.

    Returns:
    No returns but simply generate two text files containing data.
    """
    print("downloading")
    if not os.path.exists(NYC_DATA_311_FILE):
        response311 = requests.get(NYC_DATA_311)
        if response311.status_code == 200:
            with open(NYC_DATA_311_FILE, "w", encoding="utf-8") as f:
                f.write(response311.text)
        else:
            raise Exception("Fail")

    if not os.path.exists(NYC_DATA_TREE_FILE):
        responsetree = requests.get(NYC_DATA_TREES)
        if responsetree.status_code == 200:
            with open(NYC_DATA_TREE_FILE, "w", encoding="utf-8") as f:
                f.write(responsetree.text)
        else:
            raise Exception("Fail")

In [ ]:
def load_311_tree_data():
    """
    This is a function to read data into pandas dataframe.

    Use a default pandas index and specify incident_zip column as string type, also drop
    all rows that contain nan data and rename all imperative columns.

    Parameters:
    Does not have any parameters.

    Returns:
    311 and tree census dataframes.
    """
    data_311 = pd.read_csv(NYC_DATA_311_FILE, index_col=None, dtype={"incident_zip":str}) \
            .dropna() \
            .rename(columns={"created_date": "Time", "incident_zip": "ZipCode", "latitude": "Latitude", "longitude": "Longitude", "complaint_type":"ComplaintType"})

    data_tree = pd.read_csv(NYC_DATA_TREE_FILE, index_col=None, dtype={"zipcode": str}) \
        [["tree_id", "zipcode", "Latitude", "longitude", "spc_latin", "status", "health"]] \
        .rename(columns={"tree_id": "ID", "zipcode": "ZipCode", "longitude": "Longitude", "spc_latin": "Species", "status": "Status", "health": "Health"}) \
        .dropna()

    return data_311, data_tree

In [ ]:
def load_and_clean_zipcodes(zipcode_datafile):
    """a function of which paramter is the file directory of zipcode datafile and returns a geometry datafile"""
    nyc_shp = gpd.read_file(zipcode_datafile).to_crs(epsg=4326)
    return nyc_shp

def load_and_clean_zillow_data(zl_file):
    """a function of which paramter is the file directory of zillow data and returns a datafile"""
    zillow = pd.read_csv(zl_file, index_col=None)
    def expand_row(row):
        value = row[9:]
        df = pd.DataFrame({"Time": value.index, "Rent": value.values, "ZipCode": row["RegionName"]})
        return df
    zillow = pd.concat(zillow.apply(expand_row, axis=1).tolist(), ignore_index=True).dropna()
    return zillow

In [ ]:
def load_all_data():
    download_311_tree_data()
    geodf_zipcode_data = load_and_clean_zipcodes(ZIPCODE_DATA_FILE)
    geodf_311_data,geodf_tree_data = load_311_tree_data()
    df_zillow_data = load_and_clean_zillow_data(zl_file=ZILLOW_DATA_FILE)
    return (
        geodf_zipcode_data,
        geodf_311_data,
        geodf_tree_data,
        df_zillow_data
    )

_Downloading all the data we need in subsequent tasks_

In [ ]:
geodf_zipcode_data, geodf_311_data, geodf_tree_data, df_zillow_data = load_all_data()

_Show basic info about each dataframe and show first 5 entries about each dataframe_

In [ ]:
geodf_zipcode_data.info()

In [ ]:
geodf_zipcode_data.head()

In [ ]:
geodf_311_data.info()

In [ ]:
geodf_311_data.head()

In [ ]:
geodf_tree_data.info()

In [ ]:
geodf_tree_data.head()

In [ ]:
df_zillow_data.info()

In [ ]:
df_zillow_data.head()

## Part 2: Storing Data

In [ ]:
import psycopg2
from psycopg2 import sql
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

def setup_new_postgis_database(username, db_name):
    """Using SQL to create a new database and enable postgis extension"""
    try:
        connection = psycopg2.connect(user=username,password=DB_PW)
        connection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

        with connection.cursor() as cursor:
            create_db_query = sql.SQL("CREATE DATABASE {}").format(sql.Identifier(db_name))
            cursor.execute(create_db_query)

        print(f"Database '{db_name}' created successfully!")

        connection.close()
        connection = psycopg2.connect(user=username, password=DB_PW,database=db_name)
        connection.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
        with connection.cursor() as cursor:
            create_extension_query = "CREATE EXTENSION IF NOT EXISTS postgis;"
            cursor.execute(create_extension_query)

        print("PostGIS extension enabled successfully!")

    except (Exception, psycopg2.Error) as error:
        print(f"Error while setting up database: {error}")

    finally:
        if connection:
            connection.close()

In [ ]:
setup_new_postgis_database(DB_USER, DB_NAME)

### Creating Tables

In [ ]:
engine = db.create_engine(DB_URL)

In [ ]:
ZIPCODE_SCHEMA = """
DROP TABLE IF EXISTS "public"."ZipCode";
CREATE TABLE "public"."ZipCode" (
  "ZIPCODE" text COLLATE "pg_catalog"."default",
  "BLDGZIP" text COLLATE "pg_catalog"."default",
  "PO_NAME" text COLLATE "pg_catalog"."default",
  "POPULATION" float8,
  "AREA" float8,
  "STATE" text COLLATE "pg_catalog"."default",
  "COUNTY" text COLLATE "pg_catalog"."default",
  "ST_FIPS" text COLLATE "pg_catalog"."default",
  "CTY_FIPS" text COLLATE "pg_catalog"."default",
  "URL" text COLLATE "pg_catalog"."default",
  "SHAPE_AREA" float8,
  "SHAPE_LEN" float8,
  "geometry" "public"."geometry"
)
;

CREATE INDEX "idx_ZipCode_geometry" ON "public"."ZipCode" USING gist (
  "geometry" "public"."gist_geometry_ops_2d"
);
"""

NYC_311_SCHEMA = """
DROP TABLE IF EXISTS "public"."NYC_311";
CREATE TABLE "public"."NYC_311" (
  "ZipCode" varchar(10) COLLATE "pg_catalog"."default" NOT NULL,
  "Time" date NOT NULL,
  "Latitude" float8,
  "Longitude" float8,
  "ComplaintType" varchar(255) COLLATE "pg_catalog"."default"
)
;

"""

NYC_TREE_SCHEMA = """
DROP TABLE IF EXISTS "public"."NYC_Tree";
CREATE TABLE "public"."NYC_Tree" (
  "ID" int8 NOT NULL,
  "ZipCode" varchar(10) COLLATE "pg_catalog"."default",
  "Longitude" float8,
  "Latitude" float8,
  "Species" varchar(255) COLLATE "pg_catalog"."default",
  "Status" varchar(255) COLLATE "pg_catalog"."default",
  "Health" varchar(255) COLLATE "pg_catalog"."default"
)
;

ALTER TABLE "public"."NYC_Tree" ADD CONSTRAINT "Tree_pkey" PRIMARY KEY ("ID");
"""

ZILLOW_SCHEMA = """
DROP TABLE IF EXISTS "public"."Zillow";
CREATE TABLE "public"."Zillow" (
  "ZipCode" varchar(10) COLLATE "pg_catalog"."default" NOT NULL,
  "Time" date NOT NULL,
  "Rent" float4
)
;

ALTER TABLE "public"."Zillow" ADD CONSTRAINT "Rent_pkey" PRIMARY KEY ("ZipCode", "Time");

"""

In [ ]:
# create that required schema.sql file
with open(DB_SCHEMA_FILE, "w") as f:
    f.write(ZIPCODE_SCHEMA)
    f.write(NYC_311_SCHEMA)
    f.write(NYC_TREE_SCHEMA)
    f.write(ZILLOW_SCHEMA)

In [ ]:
from sqlalchemy import text
with engine.connect() as connection:
    with open("schema.sql", 'r') as file:
        sql_script = text(file.read())
        connection.execute(sql_script)

### Add Data to Database

In [ ]:
tablename_to_dataframe = {
    "ZipCode": geodf_zipcode_data,
    "NYC_311": geodf_311_data,
    "NYC_Tree": geodf_tree_data,
    "Zillow": df_zillow_data,
}

In [ ]:
geodf_zipcode_data.to_postgis('ZipCode', engine, if_exists='replace', index=False)

In [ ]:
geodf_tree_data.to_sql('NYC_Tree', engine, if_exists='append', index=False)

In [ ]:
geodf_311_data.to_sql('NYC_311', engine, if_exists='append', index=False)

In [ ]:
df_zillow_data.to_sql('Zillow', engine, if_exists='append', index=False)

## Part 3: Understanding the Data

### Query 1

In [ ]:
# Helper function to write the queries to file
def write_query_to_file(query, outfile):
    with open(outfile, "w", encoding="utf-8") as f:
        f.write(query)

In [ ]:
QUERY_1_FILENAME = QUERY_DIR + "/Q1.sql"

QUERY_1 = """
SELECT
    "ZipCode" AS zip_code,
    COUNT(*) AS number_of_311_complaints
FROM
    "NYC_311"
WHERE
    "Time" BETWEEN '2022-10-01 00:00:00' AND '2023-09-30 23:59:59'
GROUP BY
    "ZipCode"
ORDER BY
    number_of_311_complaints DESC;
"""
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_1))
    for row in result:
        print(row)
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

### Query 2

In [ ]:
QUERY_2_FILENAME = QUERY_DIR + "/Q2.sql"

QUERY_2 = """
SELECT
    "ZipCode" AS zip_code,
    COUNT(*) AS top_tree_count
FROM
    "NYC_Tree"
GROUP BY
    "ZipCode"
ORDER BY
    top_tree_count DESC
LIMIT 10;
"""
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_2))
    for row in result:
        print(row)
write_query_to_file(QUERY_2, QUERY_2_FILENAME)

### Query 3

In [ ]:
QUERY_3_FILENAME = QUERY_DIR + "/Q3.sql"

QUERY_3 = """
SELECT
    t.zip_code,
    ROUND(z."Rent"::numeric, 2) as rent,
    t.tree_count
FROM
    "Zillow" as z
RIGHT JOIN (
    SELECT
        "ZipCode" AS zip_code,
        COUNT(*) AS tree_count
    FROM
        "NYC_Tree"
    GROUP BY
        "ZipCode"
    ORDER BY
        tree_count DESC
    LIMIT 10
) AS t ON z."ZipCode" = t.zip_code
WHERE
    z."Time" = '2023-08-31';
"""
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_3))
    for row in result:
        print(row)
write_query_to_file(QUERY_3, QUERY_3_FILENAME)

### Query 4

In [ ]:
QUERY_4_FILENAME = QUERY_DIR + "/Q4.sql"

QUERY_4 = """
WITH
  zillow_ranked_rent AS (
    SELECT
        "Rent",
        "ZipCode",
        ROW_NUMBER() OVER (ORDER BY "Rent") as rent_row_num_asc,
        ROW_NUMBER() OVER (ORDER BY "Rent" DESC) as rent_row_num_desc
    FROM
        "Zillow"
    WHERE
        "Time" = '2023-01-31'
  ),
  tree_count AS (
    SELECT
        "ZipCode",
        COUNT(*) AS tree_count
    FROM
        "NYC_Tree"
    GROUP BY
        "ZipCode"
  ),
  complaint_count AS (
    SELECT
        "ZipCode",
        COUNT(*) AS complaint_count
    FROM
        "NYC_311"
    GROUP BY
        "ZipCode"
  )

SELECT a."Rent", a."ZipCode", b.tree_count, c.complaint_count
FROM (
    SELECT "Rent", "ZipCode"
    FROM zillow_ranked_rent
    WHERE
        rent_row_num_asc <= 5
        OR rent_row_num_desc <= 5
) AS a
LEFT JOIN tree_count AS b ON a."ZipCode" = b."ZipCode"
LEFT JOIN complaint_count AS c ON a."ZipCode" = c."ZipCode";
"""
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_4))
    for row in result:
        print(row)
write_query_to_file(QUERY_4, QUERY_4_FILENAME)

### Query 5

In [ ]:
QUERY_5_FILENAME = QUERY_DIR + "/Q5.sql"

QUERY_5 = """
SELECT
    z."ZIPCODE" as zip_code,
    COUNT(*) as tree_count
FROM
    "NYC_Tree" t
JOIN
    "ZipCode" z ON ST_Within(ST_SetSRID(ST_MakePoint(t."Longitude", t."Latitude"), 4326), z.geometry)
GROUP BY z."ZIPCODE"
ORDER BY tree_count DESC
LIMIT 10;
"""
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_5))
    for row in result:
        print(row)
write_query_to_file(QUERY_5, QUERY_5_FILENAME)

### Query 6

In [ ]:
QUERY_6_FILENAME = QUERY_DIR + "/Q6.sql"

QUERY_6 = """
SELECT
    "ID",
    "ZipCode",
    "Species",
    "Status",
    "Health",
    CONCAT("Latitude", ', ', "Longitude") AS LatLng
FROM
    "NYC_Tree"
WHERE
    ST_DWithin(
        ST_MakePoint(-73.96253174434912, 40.80737875669467)::geography,
        ST_MakePoint("Longitude", "Latitude")::geography,
        0.5 * 1609.34
    );
"""
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_6))
    for row in result:
        print(row)
write_query_to_file(QUERY_6, QUERY_6_FILENAME)

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
def plot_visual_1(dataframe):
    figure, axes = plt.subplots(figsize=(12, 6))

    dataframe.plot(x="time", y="complaint_count",kind='line', color='green', ax=axes)
    axes.set_title('Complaints per Day')
    axes.set_xlabel('Date')
    axes.set_ylabel('Complaints')
    figure.show()

def get_data_for_visual_1():
    # Define the SQL query
    query = """
        SELECT
            "Time" AS time,
            COUNT(*) AS complaint_count
        FROM
            "public"."NYC_311"
        WHERE
            "Time" BETWEEN '2022-10-01' AND '2023-09-30'
        GROUP BY
            "Time";
    """

    df = pd.read_sql_query(query, engine)
    return df

In [ ]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)

### Visualization 2

In [ ]:
def plot_visual_2(dataframe):
    plt.figure(figsize=(12, 6))
    plt.bar(dataframe["ComplaintType"], dataframe["complaint_count"], color='green')
    plt.title('Top 10 Complaints in ZipCode 10027')
    plt.xlabel('Complaint Type')
    plt.ylabel('Complaint Count')
    plt.xticks(rotation=-45, ha='center')
    plt.tight_layout()
    plt.show()

def get_data_for_visual_2():
    # Define the SQL query
    query = """
        SELECT
            "ComplaintType",
            COUNT(*) AS complaint_count
        FROM
            "public"."NYC_311"
        WHERE
            "ZipCode" = '10027'
            AND "Time" BETWEEN '2018-10-01' AND '2023-09-30'
        GROUP BY
            "ComplaintType"
        ORDER BY
            complaint_count DESC
        LIMIT 10
    """

    df = pd.read_sql_query(query, engine)
    return df

In [ ]:
some_dataframe = get_data_for_visual_2()
plot_visual_2(some_dataframe)

### Visualization 3

In [ ]:
def get_data_for_visual_3():
    # Define the SQL queries
    query_rent = """
        SELECT
            "ZipCode",
            AVG("Rent") AS avg_rent
        FROM
            "public"."Zillow"
        WHERE
            "Time" BETWEEN '2015-01-01' AND '2023-09-30'
        GROUP BY
            "ZipCode"
    """

    query_trees = """
        SELECT
            "ZipCode",
            COUNT(*) AS num_trees
        FROM
            "public"."NYC_Tree"
        GROUP BY
            "ZipCode"
    """

    query_complaints = """
        SELECT
            "ZipCode",
            COUNT(*) AS num_complaints
        FROM
            "public"."NYC_311"
        WHERE
            "Time" BETWEEN '2015-01-01' AND '2023-09-30'
        GROUP BY
            "ZipCode"
    """

    # Use Pandas to read the query results
    df_rent = pd.read_sql_query(query_rent, engine)
    df_trees = pd.read_sql_query(query_trees, engine)
    df_complaints = pd.read_sql_query(query_complaints, engine)

    # Merge the dataframes on ZipCode
    df_combined = pd.merge(df_rent, df_trees, on="ZipCode", how="outer")
    df_combined = pd.merge(df_combined, df_complaints, on="ZipCode", how="outer")

    return df_combined

def plot_visual_3(dataframe):
    fig, axes = plt.subplots(nrows=1, ncols=1, figsize=(10, 8), sharex=True)

    sns.scatterplot(data=dataframe, y="num_trees", x="avg_rent", hue="num_trees", ax=axes, palette="coolwarm", marker='o', s=50, alpha=0.8, edgecolor='black')
    sns.scatterplot(data=dataframe, y="num_complaints", x="avg_rent", hue="num_complaints", ax=axes, palette="plasma", marker='s', s=50, alpha=0.8, edgecolor='black')
    axes.set_xlabel('Average Rent')

    axes.set_ylabel('Count of Tree or Complaints')

    axes.legend(title='Trees Count', loc='upper right')
    axes.legend(title='Complaints Count', loc='upper right')

    plt.tight_layout()
    plt.show()

In [ ]:
some_dataframe = get_data_for_visual_3()
plot_visual_3(some_dataframe)

### Visualization 4

In [ ]:
def plot_visual_4(engine, start_date, end_date):
    # Query for average rent
    query_rent = f"""
        SELECT
            "ZipCode",
            AVG("Rent") AS avg_rent
        FROM
            "public"."Zillow"
        WHERE
            "Time" = '{end_date}'
        GROUP BY
            "ZipCode"
    """
    df_rent = pd.read_sql_query(query_rent, engine)

    # Query for complaints
    query_complaints = f"""
        SELECT
            "ZipCode",
            COUNT(*) AS num_complaints
        FROM
            "public"."NYC_311"
        WHERE
            "Time" BETWEEN '{start_date}' AND '{end_date}'
        GROUP BY
            "ZipCode"
    """
    df_complaints = pd.read_sql_query(query_complaints, engine)
    df_combined = pd.merge(df_rent, df_complaints, on="ZipCode", how="inner")

    bins = list(range(0, int(df_combined['avg_rent'].max()) + 1001, 1000))
    df_combined['rent_bin'] = pd.cut(df_combined['avg_rent'], bins, labels=[f'${i}-{i+1000}' for i in range(0, int(df_combined['avg_rent'].max()), 1000)])

    # Plot boxplot with different color and style
    plt.figure(figsize=(12, 8))
    sns.boxplot(data=df_combined, x='rent_bin', y='num_complaints', color='skyblue', linewidth=2)
    plt.title(f'Boxplot of 311 Complaints vs. Average Rent ({end_date})')
    plt.xlabel(f'Average Rent in {end_date}')
    plt.ylabel('Number of 311 Complaints')
    plt.show()

In [ ]:
plot_visual_4(engine, '2022-10-01', '2023-09-30')

### Visualization 5

In [ ]:
def plot_visual_5(engine, center_latitude, center_longitude, radius, start_date, end_date):
    # SQL query for 311 complaints within a specified radius
    query_complaints = f"""
        SELECT
            "ZipCode",
            "Time",
            "Latitude",
            "Longitude"
        FROM
            "public"."NYC_311"
        WHERE
            ST_DWithin(
                ST_MakePoint({center_longitude}, {center_latitude})::geography,
                ST_MakePoint("Longitude", "Latitude")::geography,
                {radius} * 1609.34
            ) AND "Time" BETWEEN '{start_date}' AND '{end_date}';
    """

    # Read data into a GeoDataFrame
    df_complaints = pd.read_sql_query(query_complaints, engine)
    geometry_complaints = [shapely.geometry.Point(lon, lat) for lon, lat in zip(df_complaints['Longitude'], df_complaints['Latitude'])]
    gdf_complaints = gpd.GeoDataFrame(df_complaints, geometry=geometry_complaints, crs='EPSG:4326')

    # Plot the map
    fig, ax = plt.subplots(figsize=(12, 8))

    gdf_complaints.plot(ax=ax, color='purple', label='311 Complaints', markersize=10, alpha=0.7, edgecolor='black', linewidth=0.5)

    ax.set_title(f'311 Complaints')
    ax.set_xlabel('Longitude')
    ax.set_ylabel('Latitude')
    ax.legend()

    # Add grid
    ax.grid(True, linestyle='--', alpha=0.5)

    plt.show()

In [ ]:
center_latitude = 40.80737875669467
center_longitude = -73.96253174434912
radius = 0.5
start_date = '2023-01-01'
end_date = '2023-09-30'
plot_visual_5(engine, center_latitude, center_longitude, radius, start_date, end_date)

### Visualization 6

In [ ]:
def get_data_for_visual_6():
    query_trees = """
        SELECT
            "ID",
            "Latitude",
            "Longitude"
        FROM
            "NYC_Tree";
    """

    query_311 = """
        SELECT
            "Latitude",
            "Longitude"
        FROM
            "NYC_311"
        WHERE
            "ComplaintType" = 'New Tree Request'
            AND "Time" BETWEEN '2018-10-01' AND '2023-09-30';
    """

    # Use Pandas to read the query results
    df_trees = pd.read_sql_query(query_trees, engine)
    df_311 = pd.read_sql_query(query_311, engine)

    # Create GeoDataFrames with Point geometries
    geometry_trees = [shapely.geometry.Point(lon, lat) for lon, lat in zip(df_trees['Longitude'], df_trees['Latitude'])]
    gdf_trees = gpd.GeoDataFrame(df_trees, geometry=geometry_trees, crs='EPSG:4326')

    geometry_311 = [shapely.geometry.Point(lon, lat) for lon, lat in zip(df_311['Longitude'], df_311['Latitude'])]
    gdf_311 = gpd.GeoDataFrame(df_311, geometry=geometry_311, crs='EPSG:4326')

    return gdf_trees, gdf_311


def plot_visual_6(gdf_trees, gdf_311):
    fig, ax = plt.subplots(figsize=(12, 8))

    gdf_trees.plot(ax=ax, color='green', edgecolor='black', label='Trees', markersize=10)
    gdf_311.plot(ax=ax, color='red', edgecolor='black', label='New Tree Requests', marker='s', markersize=10)

    ax.set_title('Geospatial Plot of Trees and New Tree Requests')
    ax.set_xlabel('Longitude')
    ax.set_ylabel('Latitude')
    ax.legend()
    ax.grid(True, linestyle='--', alpha=0.5)

    plt.show()

In [ ]:
gdf_trees, gdf_311 = get_data_for_visual_6()
plot_visual_6(gdf_trees, gdf_311)